<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <ng-container *ngFor="let link of navLinks">
        <a
          mat-list-item
          *ngIf="!link.adminOnly || (isAdmin$ | async)"
          [routerLink]="link.route"
          routerLinkActive="active-link"
        >
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Infringement System</span>
      <span class="spacer"></span>

      <ng-container *ngIf="currentUser$ | async as user">
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
          {{ user.name }}
        </button>
        <mat-menu #userMenu="matMenu">
          <div class="menu-user-info">
            <div>{{ user.username }}</div>
            <div class="menu-user-role">{{ user.is_admin ? 'Administrador' : 'Funcionário' }}</div>
          </div>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>

    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
