.app-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
}

.active-link {
  background: rgba(0, 0, 0, 0.05);
}

.menu-user-info {
  padding: 8px 16px;
  line-height: 1.4;

  .menu-user-role {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }
}
