<div class="management-page">
  <nav class="tabs">
    <a routerLink="occurrences" routerLinkActive="active" class="tab">Occorrências</a>
    <a routerLink="departments" routerLinkActive="active" class="tab">Departamentos</a>
    <a routerLink="employees" routerLinkActive="active" class="tab">Funcionários</a>
    <a routerLink="categories" routerLinkActive="active" class="tab">Categorias</a>
    <!-- 'Ocorrências' entra na Etapa 8 -->
  </nav>

  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>