<div class="management-page">
  <nav class="tabs">
    <a [routerLink]="occurrencesLink" routerLinkActive="active" class="tab">Occorrências</a>
    <ng-container *ngIf="authService.isSuperAdmin()">
      <a routerLink="departments" routerLinkActive="active" class="tab">Departamentos</a>
      <a routerLink="employees" routerLinkActive="active" class="tab">Funcionários</a>
      <a routerLink="categories" routerLinkActive="active" class="tab">Categorias</a>
    </ng-container>
  </nav>

  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>